{% extends 'template.html' %}

{% set fileName = 'messages' %}
{% set title = 'Messages' %}


{% block content %}

<div class = 'row mt-3' role = 'group' style = 'height:80vh;'>

	<div class = 'col-md-4'>

	  	<button class = 'btn btn-success' style = 'width: 100%'  data-toggle="modal" data-target="#newGroup">Create new group +</button>

		<div class="list-group mt-2" style = 'overflow-y: scroll;max-height: 70vh;height:70vh;' id = 'conversationList'>
		</div>
	</div>

	<div class = 'col-md-8'>

		<div style="width: 100%;">
		  	<h6 class = 'p-2 d-inline-block' id = 'conversationHeading'>Click on a group to show its conversations</h6>
		  	<button onclick = 'editHeading()' class = 'ml-2 btn btn-danger btn-sm d-inline-block'><i class="fa fa-cog"></i></button>
		  	<button onclick = 'editPending()' class = 'ml-2 btn btn-danger btn-sm d-inline-block float-right'> View requests <i class="fas fa-question-circle"></i></button> 
		</div>		

		<div class="card" style="width: 100%;">
		  <div class="card-body" id = 'chatContainer' style = 'overflow-y: scroll;max-height: 70vh;height:70vh;'>

		  	<!--
		  	<div class="card text-white bg-primary mb-3" style="max-width: 100%;">
			  <div class="card-body">
			    <h6 class="card-title">This is an example text msg that would be sent by a user</h6>
			    <p class="card-text small">Person who sent the msg</p>
			  </div>
			</div>

		  	<div class="card text-white bg-secondary mb-3 text-right" style="max-width: 100%;">
			  <div class="card-body">
			    <h6 class="card-title">This is an example text msg that would be sent by a user</h6>
			    <p class="card-text small">Person who sent the msg</p>
			  </div>
			</div>
			-->

		  </div>
		</div>

	</div>

</div>


<div class="input-group mb-3">
  <input type="text" class="form-control" id = 'msgContentInput' placeholder="type your message here..." aria-label="text message" aria-describedby="basic-addon2">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button" onclick = 'postMessage()'>Post<i class="fas fa-comment ml-2"></i></button>
  </div>
</div>


<!-- new group modal -->


<div class="modal fade" id="newGroup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">

    <div class="modal-content">

      <div class="modal-header">

        <h5 class="modal-title"> Create a new group </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>

      <div class="modal-body">
        <form>

          <div class="form-group">
            <input type="text" class="form-control" id="newGroupName" placeholder="Enter group name">
          </div>

        </form>
      </div>

      <div class="modal-footer">

        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick = "newConversation()">Create group</button>

      </div>

    </div>

  </div>
</div>

{% endblock %}
